<ion-header>

  <ion-navbar>
  	 <ion-buttons left>	
  		<button ion-button icon-left (click)="closeModal()"><ion-icon large name="arrow-back"></ion-icon></button>
  	</ion-buttons>
    <ion-title>Commentaires</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngFor="let comment of commentaires" text-center>
		<div *ngIf="flag == true">
			<p>{{comment.body}}</p><p>{{comment.created | date : 'mediumDate'}}</p>
			<p>-----------------------------------------------------</p>
		</div>
	</div>
	<div class="No commentaires" *ngIf="flag == false" text-center>
		<h4>Aucun commentaire disponible</h4><!--<h4> Voulez-vous ajouter un commentaire ?</h4>
		<button ion-button large color="dark" outline round>Ajouter un commentaire</button>-->
	</div>
</ion-content>
