<ion-header>
  <ion-navbar text-center>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<!--<div>
		<ion-icon name="star">Les valorations des utilisateurs</ion-icon>
	</div>-->
  	<div class="Note globale" text-center>
    	<ion-icon *ngFor="let i of stars_full" name="star"></ion-icon>
    	<ion-icon *ngIf="flag2 == true" name="star-half"></ion-icon>
    	<ion-icon *ngFor="let i of stars_empty" name="star-outline"></ion-icon>
  	</div>

	<div class="Commentaires" text-right>
		<button ion-button color="dark" outline round large>Voir les commentaires</button>
	</div>

	<div class="Details Accessibilité" text-center>
		<button ion-button color="dark" large outline round block (click)="openModal()" >Details Accessibilité</button>
	</div>

	<div class="Laisser un avis" text-center>
		<button ion-button color="dark" large outline round block (click)="laisserAvis()">Laisser un avis</button>
	</div>

	<div class="Website" text-center>
		<h3> </h3>
		<h5>Site web: <a href="{{website}}">{{website}}</a></h5>
	</div>
	
</ion-content>
