<ion-header>
	<ion-navbar>
		<ion-title>Test</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col col-9>
      <ion-item>
        <ion-input type="text" [(ngModel)]="newItem" placeholder="New Lieu item"></ion-input>
      </ion-item>
    </ion-col>
<!--     <ion-col>
      <button ion-item *ngFor="let item of lieuItems" (click)="getLieuItems()">View</button>
    </ion-col> -->
  </ion-row>
 
  <ion-list>
    <ion-item *ngFor="let item of lieu | async">
      <ion-item>
        {{ item.nom }}
      </ion-item>
    </ion-item>
  </ion-list>



  <B> Résultats triés </B>
    <div class="Bouton pour montrer les résultats" padding text-center>
    <button ion-button color="dark" large outline round icon-start (click)="getLieuItemsParNom('Orly')">Rechercher</button>
  </div>
    <ion-list>
    <ion-item *ngFor="let item of resultat | async">
      <ion-item>
        {{ item.nom }}
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>

