<ion-header>
  <ion-navbar text-center>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Resultats</ion-title>
  </ion-navbar>
</ion-header>


<ion-content text-center padding>
	<!--<div class="Titre">
      <h3>
        Liste des places
      </h3>
  </div>-->

  <div class="Liste avec les resultats">
    <ion-list>
      <button style="text-transform: none;" ion-button color="dark" large outline round block *ngFor="let place of resultat" (click)="goToPlace(place.name, place.address.full, place.google_place_id)">
          <h3>
            <b>{{place.name}}</b>
          </h3>
          <!--<p>
            {{place.category.label}},
          </p>-->
      </button>
    </ion-list>
  </div>

  <div class="Liste avec les resultats Firebase">
    <ion-list>
      <button style="text-transform: none;" ion-button color="dark" large outline round block *ngFor="let item of resultatFirebase" (click)="goToLieu(item.nom)">
          <h3>
            <b>{{item.nom}}</b>
          </h3>
      </button>
    </ion-list>
  </div>

</ion-content>
